@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
    font-family:'Poppins';
}
:root {
    --primary-color: #f15725;
    --secondary-color: #868789;
}
li {
    list-style: none;
}
a {
    text-decoration: none!important;
}
 p {
    margin-bottom: 0!important;
 }
.nav1 {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav1-left {
    display: flex;
}
.nav1-left .left-under {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.nav1-left .left-under .fa-envelope {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-right: 10px;
}
.nav1-left .left-under p {
    color: var(--secondary-color);
}
.nav1-right {
    margin-top: 20px;
    display: flex;
}
.nav1-right li {
    margin-left: 10px;
}
.nav1-right a {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #cdcdcd;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.nav1-right  li a i {
    font-size: 1rem;
    color: white;
}
.nav1-right a:hover {
    background-color: var(--primary-color);
}
.nav2 {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}
/* added justify content to solve link problem  */
.nav2 .collapse .navbar-nav {
    width: 50vw;
    justify-content: space-between;

}

/* added by fatoh to solve nav links  note want to be remove from small screen at media */
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    max-width: 50vw;
}


.villa-slide{
    position: relative;
    background-image: url("../images/banner-01.jpg");
    height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slidebackground;
    -webkit-animation: slidebackground;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes slidebackground{
    33.33%{background-image: url("../images/banner-01.jpg");
    }

    66.66%{
        background-image: url("../images/banner-02.jpg");
    }
    100%{
        background-image: url("../images/banner-03.jpg");
    }
}
.myslide{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.myslide button{
    width: fit-content;
    padding:.5rem;
}
.myslide h1{
    color: white;
    text-transform: capitalize;
}
/* end of my edit fatoh */